.requestServices {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 320px;
  border: solid 2px #41afff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;

  @media screen and (max-width: 900px) {
    margin: auto;
  }

  @media screen and (max-width: 500px) {
    max-width: 280px;
  }

  @media screen and (max-width: 350px) {
    max-width: 250px;
  }

  .text {
    width: 240px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    z-index: 10;

    @media screen and (max-width: 500px) {
      height: 70px;
      font-size: 15px;
    }

    @media screen and (max-width: 350px) {
      height: 65px;
      font-size: 14px;
    }
  }

  .arrow {
    z-index: 10;
    width: 80px;
    height: 75px;
    background: rgba(65, 175, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-right-radius: 7px;

    img {
      margin-top: 0 !important;
    }

    @media screen and (max-width: 500px) {
      height: 70px;

      img {
        width: 8px;
      }
    }

    @media screen and (max-width: 350px) {
      height: 65px;

      img {
        width: 7px;
      }
    }
  }

  .divisor {
    width: 0px;
    height: 75px;
    background: rgba(65, 175, 255, 0.5);
    position: absolute;
    transition: all ease-in-out 0.8s;
    margin-left: 158px;

    @media screen and (max-width: 500px) {
      height: 70px;
    }

    @media screen and (max-width: 350px) {
      height: 65px;
    }
  }
}

.learnMore {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 250px;
  border: solid 2px #e2a0ff;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;

  @media screen and (max-width: 900px) {
    margin: auto;
  }

  @media screen and (max-width: 500px) {
    max-width: 280px;
  }

  @media screen and (max-width: 350px) {
    max-width: 250px;
  }

  .text {
    z-index: 10;
    width: 170px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    z-index: 2;

    @media screen and (max-width: 900px) {
      justify-content: center;
      padding-left: 0;
    }

    @media screen and (max-width: 500px) {
      height: 70px;
    }
  }

  .arrow {
    z-index: 10;
    width: 80px;
    height: 75px;
    background: rgba(226, 160, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-right-radius: 7px;

    img {
      margin-top: 0 !important;
    }
  }

  .divisor {
    width: 0px;
    height: 75px;
    background: rgba(226, 160, 255, 0.5);
    position: absolute;
    transition: all ease-in-out 0.8s;
    margin-left: 89px;

    @media screen and (max-width: 500px) {
      height: 70px;
    }

    @media screen and (max-width: 350px) {
      height: 65px;
    }
  }
}

.view {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 360px;
  border: solid 2px #fdffa0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;

  @media screen and (max-width: 900px) {
    margin: auto;
  }

  @media screen and (max-width: 500px) {
    max-width: 280px;
  }

  @media screen and (max-width: 350px) {
    max-width: 250px;
  }

  .text {
    z-index: 10;
    width: 280px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: pointer;
    z-index: 2;

    @media screen and (max-width: 500px) {
      height: 70px;
      font-size: 14px;
      padding-left: 0;
      justify-content: center;
      width: 200px;
    }

    @media screen and (max-width: 350px) {
      height: 65px;
      font-size: 12.5px;
    }
  }

  .arrow {
    z-index: 10;
    width: 80px;
    height: 75px;
    background: rgb(253, 255, 160, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-right-radius: 7px;
    z-index: 10;

    img {
      margin-top: 0 !important;
    }

    @media screen and (max-width: 500px) {
      height: 70px;

      img {
        width: 8px;
      }
    }

    @media screen and (max-width: 350px) {
      height: 65px;

      img {
        width: 7px;
      }
    }
  }

  .divisor {
    width: 0px;
    height: 75px;
    background: rgb(253, 255, 160, 0.5);
    position: absolute;
    transition: all ease-in-out 0.8s;
    margin-left: 198px;

    @media screen and (max-width: 500px) {
      height: 70px;
    }

    @media screen and (max-width: 350px) {
      height: 65px;
    }
  }
}
