.centerColumnContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

  .container {
    display: flex;
    justify-content: center;
    margin-left: 130px;
    margin-top: 150px;

    @media (max-width: 850px) {
      margin-left: 0px;
      margin-top: 300px;
    }

    @media (max-height: 690px) {
      margin-top: 200px;
    }

    @media (max-height: 600px) {
      margin-top: 150px;
    }

    .contentContainer {
      width: 85%;
      display: grid;
      grid-template-columns: 1fr 7.5fr;

      @media (max-width: 850px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .secondColumnContainer {
        width: 60vw;
        margin-top: -15px;
        
        .title {
          font-size: 70px;
          width: auto;
          font-weight: 500;
          line-height: 70px;

          @media (max-width: 850px) {
            width: auto;
            font-size: 40px;
            text-align: center;
            line-height: 40px;
          }

          @media (max-width: 550px) {
            font-size: 35px;
            line-height: 35px;
          }

          @media (max-width: 450px) {
            font-size: 30px;
            line-height: 35px;
            font-weight: 600;
          }
        }

        .subTitle {
          font-size: 16px;
          font-weight: 400;
          margin-top: 10px;
          margin-bottom: 40px;

          @media (max-width: 850px) {
            font-size: 14px;
            text-align: center;
          }

          @media (max-width: 450px) {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 40px;
          }
        }

        .buttonMobileCenter {
          z-index: 10;
          margin-bottom: 30px;

          @media (max-width: 850px) {
            display: flex;
            justify-content: center;
          }

          @media (max-height: 400px) {
            display: none;
          }
        }

        .mobileArrowCenter {
          @media (max-width: 850px) {
            display: flex;
            justify-content: center;
            margin-top: -25px;
          }

          @media (max-height: 600px) {
            display: none;
          }

          .mobileScrollArrow {
            display: none;

            @media (max-width: 850px) {
              display: inherit;
            }
          }
        }

        @media (max-width: 850px) {
          width: 80vw;
        }
      }
    }
  }
}



.buttonContainer:hover {
  // background-color: var(--blue);
  // box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;


}