.container {
  height: 100vh;
  background-image: url('./assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1150px) {
    background-image: url('./assets/mobilebg.svg');
    background-position: 100%;
    background-size: cover;
  }
}