.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  text-align: center;

  @media (max-width: 620px) {
    background-image: url(./assets/mobilebg.svg);
    background-size: cover;
    background-position: 100% 65%;
  }

  .columnContainer {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30vh;

    @media (max-width: 700px) {
      width: 85vw;
    }

    .title {
      font-size: 45px;
      font-weight: 600;

      @media (max-width: 620px) {
        font-size: 28px;
        line-height: 30px;
      }
    }

    .description {
      margin-top: 20px;
      font-size: 13px;
      font-weight: 300;
      padding: 0px 200px 0px 200px;

      @media (max-width: 1050px) {
        padding: 0px 100px 0px 100px;
      }

      @media (max-width: 780px) {
        padding: 0px 50px 0px 50px;
        margin-top: 10px;
      }

      @media (max-width: 620px) {
        padding: 0px;
      }
    }

    .centerContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 40px;

      @media (max-width: 620px) {
        margin-top: 25px;
      }

      .buttonContainer {
        cursor: pointer;
        width: 300px;
        height: 65px;
        border: solid 2px var(--blue);
        border-radius: 6px 0px 6px 0px;
        text-align: center;
        z-index: 10;

        @media (max-width: 620px) {
          width:  250px;
          height: 55px;
        }

        .button {
          display: flex;
          justify-content: space-between;
          height: 100%;

          .buttonText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 75%;
            font-size: 14px;
            font-weight: 300;

            @media (max-width: 620px) {
              font-size: 11px;
            }
          }

          .buttonArrow {
            display: flex;
            justify-content: center;
            width: 25%;
            background-color: var(--oblue);
          }
        }
      }
    }

    .footerContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 10;
      
      .footer {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 300;

        @media (max-width: 500px) {
          font-size: 10px;
        }
      }
    }
  }
}