.container {
  height: 100vh;
  background-image: url(./assets/background.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 700px) {
    justify-content: flex-start;
    height: 130vh;
  }
}