.container {
  display: flex;
  justify-content: center;

  .gridContainer {
    width: 68vw;
    display: grid;
    grid-template-columns: 0.54fr 1fr;

    @media (max-width: 850px) {
      width: 90vw;
      grid-template-columns: 0.30fr 1fr;
    }

    @media (max-width: 700px) {
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
    }

    .leftSideContainer {
      display: flex;
      justify-content: center;

      .title {
        display: flex;
        justify-content: center;

        @media (max-width: 900px) {
          max-height: 300px;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }

      .mobileTitle {
        @media (min-width: 700px) {
          display: none;
        }

        @media (max-height: 640px) {
          margin-bottom: 20px;
        }
      }
    }

    .rightSideContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .projectsGrid {
        display: grid;
        grid-template-areas: '1 2' '3 4';
        gap: 30px;

        @media (max-width: 700px) {
          grid-template-areas: '1';
          gap: 20px;
        } 

        .projectCard {
          cursor: pointer;
          width: 215px;
          height: 105px;
          border-radius: 15px;
          box-shadow: 0px 0px 20px 5px rgba(32, 81, 122, 0.5);
          
          .image {
            border-radius: 15px;
          }
        }

        .projectCardMH {
          cursor: pointer;
          background-image: url(../../../../../../public/images/Landing/megahyped.png);
          background-size: cover;
          width: 215px;
          height: 115px;
          border-radius: 15px;
          box-shadow: 0px 0px 20px 5px rgba(32, 81, 122, 0.5);
          z-index: 10;
        }
      }
    }
  }
}