.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url('/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
