.container {
  padding: 120px 150px 0px 75px;

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .leftSide {
      display: flex;
      flex-direction: column;
      
      .smallTitle {
        
      }
    }

    .rightSide {

    }
  }
}