.container {
  display: flex;
  justify-content: center;

  .gridContainer {
    width: 68vw;
    display: grid;
    grid-template-columns: 0.54fr 1fr;

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }

    .leftSideContainer {
      display: flex;
      justify-content: center;

      .title {
        display: flex;
        justify-content: center;

        @media (max-width: 900px) {
          max-height: 300px;
        }

        @media (max-width: 700px) {
          display: none;
        }
      }

      .mobileTitle {
        @media (min-width: 700px) {
          display: none;
        }
      }
    }

    .rightSideContainer {
      @media (max-width: 700px) {
        max-width: 200px;
        max-height: 200px;
      }

      .projectsGrid {
        display: grid;
        grid-template-areas: '1 2'
                             '3 4';

        @media (max-width: 700px) {
          grid-template-areas: '1';
        }
      }
    }
  }
}