.container {
  display: flex;
  justify-content: center;

  .gridContainer {
    width: 68vw;
    display: grid;
    grid-template-columns: 0.54fr 1fr;

    .leftSideContainer {
      display: flex;
      justify-content: center;
    }

    .rightSideContainer {

      .projectsGrid {
        display: grid;
        grid-template-areas: '1 2'
                             '3 4';
      }
    }
  }
}