.container {
  height: 100vh;
  background-image: url('./assets/background.svg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 40%;

  @media (max-width: 1230px) {
    background-position: 90%;
  }

  @media (max-width: 850px) {
    background-image: url('./assets/mobilebackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}