.container {
  display: flex;
  justify-content: center;

  .gridContainer {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 1150px) {
      grid-template-columns: 1fr;
      width: 60%;
      margin-top: -100px;
    }

    @media (max-width: 550px) {
      width: 90%;
      margin-top: -100px;
    }

    .leftSide {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1150px) {
        text-align: center;
        margin-top: 150px;
      }

      .smallTitle {
        font-weight: 100;
        font-size: 11px;
        line-height: 38px;

        @media (max-width: 1150px) {
          display: none;
        }
      }

      .title {
        font-size: 45px;
        font-weight: 600;
        line-height: 42px;
        margin-bottom: 15px;

        @media (max-width: 1150px) {
          font-size: 35px;
          line-height: 30px;
          margin-bottom: 25px;
        }

        @media (max-width: 550px) {
          font-size: 30px;
          line-height: 30px;
        }

        .thinTitle {
          display: flex;
          font-weight: 400;

          @media (max-width: 1150px) {
            display: inherit;
            width: 100%;
          }
        }

        .gradient {
          background: linear-gradient(
            100.51deg,
            #41afff 42.18%,
            #662483 74.31%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }

      .text {
        font-weight: 200;
        font-size: 15px;
        margin-bottom: 10px;

        @media (max-width: 1150px) {
          font-size: 14px;
        }

        @media (max-width: 550px) {
          font-size: 10px;
          font-weight: 300;
        }
      }
    }

    .rightSide {
      display: flex;
      justify-content: flex-end;

      @media (max-width: 1150px) {
        margin-top: 20px;
        display: none;
      }

      @media (max-width: 550px) {
        margin-top: 0px;
      }

      .cardsGrid {
        width: 98%;
        display: grid;
        grid-template-areas: '1 2' '3 4';
        justify-content: center;
        z-index: 10;

        @media (max-width: 1150px) {
          grid-template-areas: '1 2 3 4';
  
        }
      }

      .MobileCardsGrid {
        @media (max-width: 1150px) {
          display: none;
        }
      }
    }
  }
}
