@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #41afff;
  --oblue: rgba(65, 175, 255, 0.35);
  --purple: #e2a0ff;
  --opurple: rgba(226, 160, 255, 0.35);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #cacaca #3c3c3c;
}

a {
  color: inherit;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #3c3c3c;
}

*::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 20px;
  border: 3px solid #3c3c3c;
}
