.container {
  height: 100vh;
  background-image: url(./assets/WWDbackground.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1150px) {
    background-image: url('./assets/WWDbackground.webp');
    background-position: 100%;
    background-size: cover;
  }

  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
  }
}