.container {
  height: 100vh;
  background-image: url(./assets/bg.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
  }
}